
<html>
{{ "<!-- Header -->" | safeHTML }}
    {{ partial "header.html" . }}

    <body>
    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="wrapper">

        {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}

        {{ range .Pages }}
            <div id="main" class="alt">
                <!-- One -->
                        <div class="inner">
							{{if .Params.Title}}
								<header class="major">
								<h1>{{ .Title}}</h1>
								</header>
							{{end}}
							{{if .Params.Description}}
							<section class="center">
							<p align="justify">{{.Description}}</p>
							</section>	
							{{end}}		
							{{if .Params.Name}}
								{{ .Description }}		
							{{end}}		
							{{if .Params.image}}
								<span class="image main"><img src="{{ .Site.Params.baseURL }}/img/{{ .Params.image }}"alt=""/></span>
							{{end}}		
						
                        </div>
            </div>
        {{ end }}
        </section>

            
        {{ "<!-- Footer -->" | safeHTML}}
			{{ if .Site.Params.footer.enable }}
				{{ partial "footer.html" . }}
            {{ end }}
        
        </div>
    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}
        
    </body>
</html>